includes:
    - ../../vendor/micaherne/phpstan-moodle/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - amd/build/*
        - tests/*
    bootstrapFiles:
        - phpstan-bootstrap.php
    moodle:
        rootDirectory: ../..
